@(title: String = "Sentinel Web", historyBack: play.api.mvc.Call = null, scripts: Html = Html("") )(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sentinel Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
	@*<link href="@routes.Assets.at("less/style.less")" rel="stylesheet/less">*@

	<link href="@routes.Assets.at("less/style.css")" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="@routes.Assets.at("javascripts/libs/jquery-1.7.2.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/libs/jquery.browser.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/flotr2.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/diagram.js")"></script>
	@scripts

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="http://www.insign.ch/favicon.ico">


  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">


  <!-- Navbar
    ================================================== -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">

			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a id="historyBack" class="brand" href="#" style="display:none;">Back</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a href="@routes.Index.main()">Overview</a></li>
						<li class="">
							<a href="@routes.Accounts.showBlank()">New Account</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle"	data-toggle="dropdown">
								Download<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li class="divider"></li>
								<li>Latest Sentinel agent:</li>
								<li><a href="@routes.Assets.at("downloads/sentinel-agent-1.0.0.tar.gz")">sentinel-agent-1.0.0.tar.gz</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">

		<!-- header
		================================================== -->
		<header class="jumbotron masthead">
		  <div class="inner">
		    <h1 id="title">@title</h1>
		  </div>
		</header>
		
		
		<!-- content
		================================================== -->

		<div class="container" id="content">
		@content
		</div>


     <!-- Footer
      ================================================== -->
		<footer class="footer">
			<ol>
				<li class="desktop"><a>.</a></li>
				<li class="tablet"><a>.</a></li>
				<li class="mobile"><a>.</a></li>
			</ol>
			<p class="start">insign.ch in allen Grössen.</p>
			<p>
				Diese Website ist als Responsive Design-Lösung realisiert worden,
				damit Sie die Inhalte für alle Ihre Devices optimal aufbereitet
				lesen können. <br>Verkleinern Sie Ihr Browser-Fenster oder
				drehen Sie Ihr Gerät und sehen Sie, wie sich die Seite in der
				Dimension anpasst.
			</p>
		</footer>

	</div><!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/google-code-prettify/prettify.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/bootstrap/bootstrap-transition.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/bootstrap/bootstrap-alert.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/bootstrap/bootstrap-modal.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/bootstrap/bootstrap-dropdown.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/bootstrap/bootstrap-scrollspy.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/bootstrap/bootstrap-tab.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/bootstrap/bootstrap-tooltip.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/bootstrap/bootstrap-popover.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/bootstrap/bootstrap-button.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/bootstrap/bootstrap-collapse.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/bootstrap/bootstrap-carousel.js")"></script>
    <script src="@routes.Assets.at("javascripts/libs/bootstrap/bootstrap-typeahead.js")"></script>
	<script src="@routes.Assets.at("javascripts/libs/bootstrap/bootstrap-affix.js")"></script>
	<script src="@routes.Assets.at("javascripts/common.js")"></script>
		


  </body>
</html>