@(account: Account)
@import helper._

@*layout(
	title = "Sentinel: " + account.name,
	scripts = scripts
){
*@
	<span class="page-title" style="display:none;">Sentinel: @account.name</span>
	<div class="row">		
		<span class="span12">
			<div class="well">
				@servers.list(account)
			</div>
		</span>
	</div>
	<div class="row">
		<span class="span12">
		<p><i class="icon-info-sign"></i> Your Account key is: @account.hash<br> Use it as an argument when
		running Sentinel Agent. </p>
		</span>
	</div>
	
	<script type="text/javascript">
		hashModule.pageTitle = 'Sentinel: @account.name';
	</script>
@*
}
*@